.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
}

.buttons a{
  width: 200px;
  height: 20px;
  background-color: azure;
  cursor: pointer;
  display: inline-block;
  border-right: 2px;
}

.buttons a:last-child{
  border-right: none;
}
.buttons a:hover {
    background-color: coral;
    color: antiquewhite;
}
