.buttons {
  width: 100px;
  height: 25px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  cursor: pointer;
  display: inline-block;
}
.buttons:hover {
    background-color: coral;
    color: antiquewhite;
}
